# IPK Counter / GPA Counter

This application is made to calculate a student's GPA score each semester and the student's total GPA scores. Currently this application is only in accordance with the GPA value at the State Polytechnic of Jember.

# IPK show only

If you want to count your final GPA without export it into txt file, use this code.

In [1]:
Nama = input("Masukkan nama anda: ")
SKSs = 0
Nilais = 0
counter = 0
n = int(input("Masukkan Jumlah Semester Anda : ")) #Jumlah semester yang telah ditempuh

#algoritma
while counter <= n-1:
    nilai = float(input("Nilai mutu semester ke - {}: ".format(counter+1))) #Nilai Mutu tiap semester
    sks = float(input("jumlah SKS Semester ke - {}: ".format(counter+1))) #jumlah sks(Kredit) tiap semester
    IPK = nilai/sks #IPK tiap semester
    print("IPK : %.2f" % IPK)
    SKSs = SKSs+sks #Jumlah SKS kumulatif (jumlah total sks)
    Nilais = Nilais + nilai #Nilai Mutu kumulatif (jumlah total nilai mutu)
    IPKs = Nilais/SKSs #IPK total (nilai mutu rata-rata-rata kumulatif)
    counter = counter+1

print("IPK Total : %.2f" % IPKs  )

Masukkan nama anda: Fedy Rahmatullah
Masukkan Jumlah Semester Anda : 8
Nilai mutu semester ke - 1: 74
jumlah SKS Semester ke - 1: 20
IPK : 3.70
Nilai mutu semester ke - 2: 77
jumlah SKS Semester ke - 2: 20
IPK : 3.85
Nilai mutu semester ke - 3: 69
jumlah SKS Semester ke - 3: 18
IPK : 3.83
Nilai mutu semester ke - 4: 71.5
jumlah SKS Semester ke - 4: 19
IPK : 3.76
Nilai mutu semester ke - 5: 71
jumlah SKS Semester ke - 5: 20
IPK : 3.55
Nilai mutu semester ke - 6: 75
jumlah SKS Semester ke - 6: 19
IPK : 3.95
Nilai mutu semester ke - 7: 80
jumlah SKS Semester ke - 7: 20
IPK : 4.00
Nilai mutu semester ke - 8: 32
jumlah SKS Semester ke - 8: 8
IPK : 4.00
IPK Total : 3.82

# Output to File Text

If you want to count your final GPA and export it into txt file, use this code.

In [20]:
import sys
# sys.stdout = open('Teks.txt','wt')
Nama = input("Masukkan nama anda: ")
sys.stdout = open('{}_IPK.txt'.format(Nama), 'wt') #akan menjadi file .txt dengan nama "nama_IPK" ex: Fedy Rahmatullah_IPK
print("Nama anda : {}".format(Nama))
SKSs = 0
Nilais = 0
counter = 0
n = int(input("Masukkan Jumlah Semester Anda : ")) #Jumlah semester yang telah ditempuh

#algoritma
while counter <= n-1:
    nilai = float(input("Nilai mutu semester ke - {}: ".format(counter+1))) #Nilai Mutu tiap semester
    print("Nilai mutu semester ke - {}: {}".format(counter+1,nilai))
    sks = float(input("jumlah SKS Semester ke - {}: ".format(counter+1))) #jumlah sks(Kredit) tiap semester
    IPK = nilai/sks #IPK tiap semester
    print("jumlah SKS Semester ke - {}: {}".format(counter+1,sks))
    print("IPK : %.2f" % IPK)
    SKSs = SKSs+sks #Jumlah SKS kumulatif (jumlah total sks)
    Nilais = Nilais + nilai #Nilai Mutu kumulatif (jumlah total nilai mutu)
    IPKs = Nilais/SKSs #IPK total (nilai mutu rata-rata-rata kumulatif)
    counter = counter+1

print("IPK Total : %.2f" % IPKs  )

Masukkan nama anda: Fedy Rahmatullah
Masukkan Jumlah Semester Anda : 2
Nilai mutu semester ke - 1: 74
jumlah SKS Semester ke - 1: 20
Nilai mutu semester ke - 2: 77
jumlah SKS Semester ke - 2: 20

In [27]:
import pandas as pd
df = pd.read_csv('Fedy Rahmatullah_IPK.txt', delimiter = "\t")
df

       Nama anda : Fedy Rahmatullah
0  Nilai mutu semester ke - 1: 74.0
1  jumlah SKS Semester ke - 1: 20.0
2                        IPK : 3.70
3  Nilai mutu semester ke - 2: 77.0
4  jumlah SKS Semester ke - 2: 20.0
5                        IPK : 3.85
6                  IPK Total : 3.77

In [34]:
data = pd.read_csv('Fedy Rahmatullah_IPK.txt', sep=":")
data.columns = ["Keterangan", "Nilai"]
data

                   Keterangan  Nilai
0  Nilai mutu semester ke - 1  74.00
1  jumlah SKS Semester ke - 1  20.00
2                        IPK    3.70
3  Nilai mutu semester ke - 2  77.00
4  jumlah SKS Semester ke - 2  20.00
5                        IPK    3.85
6                  IPK Total    3.77

Â© Copyright 2021 - Fedy Rahmatullah